APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mlp

JWT_SECRET=supersecretkey
JWT_EXPIRATION=24h

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_AUDIOS=audios
MINIO_BUCKET_VIDEOS=videos
MINIO_BUCKET_AVATARS=avatars
MINIO_USE_SSL=false

GEMINI_API_KEY=your_key_here
GEMINI_MODEL=gemini-2.0-flash-lite
VOICERSS_API_KEY=your_key_here
SYNC_API_KEY=your_key_here
